:root {
  --color-primary: #2D4C5C;
  --color-accent: #00BFA6;
  --color-bg-light: #F5F7FA;
  --color-text: #2B2B2B;
  --color-white: #FFFFFF;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text);
  font-family: "Arial", sans-serif;
}

/* services btn */
.text-primary {
  color: var(--color-primary) !important;
}

.text-body {
  color: var(--color-text);
}

.btn-accent {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  transition: 0.3s;
}

.btn-accent:hover {
  opacity: 0.9;
}

/* Footer */
.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.footer-title {
  background-color: var(--color-accent);
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--color-white);
}

.footer-link {
  color: var(--color-white);
  text-decoration: none;
  transition: 0.3s;
}

.footer-link:hover {
  color: var(--color-accent);
}
